# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user-specific data
*.xcuserstate
xcuserdata/

# JetBrains IDE (AppCode, etc.)
.idea/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Xcode build output
DerivedData/
build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
